@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Montserrat:wght@700&display=swap');

html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}

img {
  width: auto;
}

button {
  border: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f3f3f3;
  color: #010326;
  position: relative;
}

.sectionGray {
  background-color: #eeeeee;
}

p {
  font-family: 'Hind', sans-serif;
  color: rgb(126 126 126 )
}


@layer utilities {

  /* Contêiner máximo centralizado e configurável em largura */
  .maxContainer {
    @apply mx-auto max-w-[1300px];
  }

  /* Contêiner de preenchimento configurável */
  .paddingContainer {
    @apply px-6 lg:px-20 xl:px-0;
  }

  /* Flex containers com diferentes alinhamentos e justificações */
  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* Estilos de fontes com tamanhos e pesos específicos */
  .regular-12 {
    @apply text-[12px] font-normal leading-[120%];
  }

  .regular-14 {
    @apply text-[14px] font-normal leading-[160%];
  }

  .regular-18 {
    @apply text-[18px] font-normal leading-[160%];
  }

  .regular-20 {
    @apply text-[20px] font-normal leading-[120%];
  }

  .bold-16 {
    @apply text-[16px] font-bold leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-bold leading-[120%];
  }

  .bold-44 {
    @apply text-[44px] font-bold leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-bold leading-[120%];
  }

  .bold-24 {
    @apply text-[24px] font-bold leading-[120%];
  }
  .bold-20 {
    @apply text-[20px] font-bold leading-[120%];
  }
}

.glassMorphism {
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(5px);
}


/* Esconde a barra de rolagem para Chrome, Safari e Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Esconde a barra de rolagem para IE, Edge e Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.crimson-ball {
  width: 400px;
  height: 400px;
  border-radius: 500px;
  opacity: 0.3;
  background: #F25757;
  filter: blur(150px);
}

.yellow-ball {
  width: 200px;
  height: 200px;
  border-radius: 350px;
  opacity: 0.3;
  background: #F2E863;
  filter: blur(150px);
  top: 0;
  right: 100px;
  position: absolute;
}

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.hero-image {
  animation: float 5s ease-in-out infinite;
}
